.column {
  min-height: 500px;
  height: 100%;
  box-shadow: 0 .005em .01em 0 rgba(0,0,0,.12),0 2px 10px 0 rgba(0,0,0,.12)!important;
  padding: 1rem;
}
.bg-grey {
  background-color: #ededed;
  padding: 0.5rem;
}
#message-text {
  height: 150px;
}
.padding {
  padding: 0;
  // height: -webkit-fill-available;
}
.padding-leftright {
  min-height: 600px;
}
@media (min-width: 576px) {
  .form-control {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .btn-block {
    white-space: normal;
    padding: .375rem .2rem;
  }
  .column {
    padding: 0.5rem;
  }
  .padding-right {
    padding-right: 0.5rem;
  }
  .padding-leftright {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .padding-left {
    padding-left: 0.5rem;
  }
  .row {
    margin-top: 1rem;
  }
}
@media (min-width: 850px) {
  .column {
    padding: 1rem;
  }
}  
@media (min-width: 991px) {
  .padding {
    padding: 0 0.5rem;
  }
}
@media (max-width: 767px) {
  .column {
    min-height: 0!important;
  }
}