<app-header (changedDate)="onChangeDate($event)"
  (truckFilter)="onTruckFilter($event)" (packageFilter)="onPackageFilter($event)">
</app-header>
<div class="row mb-4">
  <div class="col-md-2 padding-right">
    <div class="bg-white column">

      <a class="btn btn-outline-secondary my-sm-3 btn-block" (click)="logout()">Logout</a>

      <div role="separator" class="dropdown-divider"></div>
      <app-new-package *ngIf="showPackage" [isEdit]="isEdit" [selectedPackage]="selectedPackage"
        (editDone)="showPackageModal()"></app-new-package>
      <button type="button" class="btn btn-outline-success my-sm-3 btn-block" 
        data-toggle="modal" data-target="#newPackModal"
        (click)="showPackageModal()">New package</button>

      <app-new-driver *ngIf="showDriver" [selectedTruck]="selectedTruck"
        [isEdit]="isEdit" (editDone)="showDriverModal()"></app-new-driver>
      <button type="button" class="btn btn-outline-warning my-sm-3 btn-block" 
        data-toggle="modal" data-target="#newDriverModal"
        (click)="showDriverModal()">New driver</button>
    </div>
  </div>
  <div class="col-md-7 padding-leftright">
    <div class="bg-white column">
      <h5>Trucks</h5>
      <div class="bg-grey">
        <app-truck-view [truckList]="getTruckList" [packageList]="getPackageList"
          (changedTruck)="onChangedTruck($event)" (deletedTruck)="onDeletedTruck($event)"
          (changedPackage)="onChangedPackage($event)" (deletedPackage)="onDeletedPackage($event)">
        </app-truck-view>
      </div>
    </div>
  </div>
  <div class="col-md-3 padding-left">
    <div class="bg-white column">
      <h5>Unassigned</h5>
      <div role="separator" class="dropdown-divider"></div>
      <div class="padding">
        <app-unassigned [packageList]="getUnassignedList"
          (unChangedPack)="onChangedPackage($event)"
          (unDeletedPack)="onDeletedPackage($event)">
        </app-unassigned>
      </div>
    </div>
  </div>
</div>