<nav class="navbar navbar-expand-lg navbar-dark bg-white column">
  <a class="navbar-brand" routerLink="/">Truck management</a>

  <div class="d-flex w-100 justify-content-around align-items-center">
    <div class="d-flex">
      <div class="box-search-container mr-3">
        <input #query aria-label="search1" placeholder="Search truck" type="text"
          (keyup)="onTruckFilter(query.value)">
      </div>
      <div class="box-search-container">
        <input #query2 aria-label="search2" placeholder="Search package" type="text"
          (keyup)="onPackageFilter(query2.value)">
      </div>
    </div>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="date"
      (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>
</nav>
