.new-driver-container {
    display: flex;
    flex-direction: column;
  }
.new-driver-container > * {
  width: 100%;
}
.modal-dialog {
  input,textarea,mat-select {
    box-shadow: none;
  }
}
.mat-form-field {
  display: block;
  input {
    box-shadow: none;
  }
}
.form-group {
  margin-bottom: 0;
}